* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

div.wrapper {
  width: 100%;
}

div.wrapper > div.header {
  width: 100%;
  height: 34px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.422);
}

div.wrapper > div.header > div.logo > div:nth-of-type(1) > a > img {
  margin-left: 1.5%;
  margin-top: 0.5%;
  border-right: 1px solid black;
  padding-right: 1.8%;
  position: absolute;
  filter: contrast(0%);
}

div.wrapper > div.header > div.logo > div:nth-of-type(1) > a:hover > img {
  filter: contrast(100%);
}

div.wrapper > div.header > div.logo > div:nth-of-type(2) > a > img {
  margin-left: 7.6%;
  margin-top: 0.5%;
  border-right: 1px solid black;
  padding-right: 1.8%;
  position: absolute;
  filter: contrast(0%);
}

div.wrapper > div.header > div.logo > div:nth-of-type(2) > a:hover > img {
  filter: contrast(100%);
}
div.wrapper > div.header > div.logo > div:nth-of-type(3) > a > img {
  margin-left: 15%;
  margin-top: 0.5%;
  position: absolute;
  filter: contrast(0%);
}

div.wrapper > div.header > div.logo > div:nth-of-type(3) > a:hover > img {
  filter: contrast(100%);
}

div.header-txt {
  width: 258px;
  height: 34px;
  margin-left: 79%;
}
div.wrapper > div.header > div.header-txt > ul {
  width: 100%;
  height: 100%;
}

div.wrapper > div.header > div.header-txt > ul > li:nth-of-type(1) {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

div.wrapper > div.header > div.header-txt > ul > li:nth-of-type(2) {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

div.wrapper > div.header > div.header-txt > ul > li:nth-of-type(3) {
  margin-left: 20px;
  display: inline-block;
}

div.wrapper > div.header > div.header-txt > ul > li {
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
}

div.wrapper > div.header > div.header-txt > ul > li > a {
  color: black;
}

div.wrapper > div.header > div.header-txt > ul > li:hover {
  border-bottom: 2px solid black;
}

div.wrapper > div.menu {
  width: 1260px;
  height: 48px;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid rgba(128, 128, 128, 0.578);
  background-color: white;
}

div.wrapper > div.menu > nav > div.main-menu {
  display: inline-block;
  vertical-align: top;
}

div.wrapper > div.menu > nav > div.main-menu > ul > a:nth-of-type(1) > img {
  width: 68.25px;
  height: 14px;
  margin-left: 17px;
  margin-top: 18px;
  vertical-align: top;
}
div.wrapper > div.menu > nav > div.main-menu > ul > a:nth-of-type(2) > img {
  width: 68.25px;
  height: 14px;
  transform: translateX(-72px);
  margin-top: 18px;
  display: none;
  vertical-align: top;
}

div.wrapper
  > div.menu
  > nav
  > div.asus
  > img:nth-of-type(1):hover
  > img:nth-of-type(2) {
  display: inline-block;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li:nth-of-type(1) {
  margin-left: 44px;
}
div.wrapper > div.menu > nav > div.main-menu > ul > li:nth-of-type(3) {
  margin-left: 20px;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li:nth-of-type(4) {
  margin-left: 20px;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li:nth-of-type(5) {
  margin-left: 20px;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li:nth-of-type(6) {
  margin-left: 17px;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li {
  margin-left: 27px;
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

div.wrapper > div.menu > nav > div.main-menu > ul {
  width: 100%;
  height: 100%;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > a {
  color: rgb(0, 0, 0);
  display: inline-block;
  transition: 50ms;
  vertical-align: top;
  line-height: 46px;
  transition: 40ms;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li:hover > a {
  border-bottom: 2px solid black;
}

div.wrapper > div.menu > nav > div.menu3 {
  width: 148px;
  height: 48px;
  display: inline-block;
  vertical-align: top;
  margin-left: 12%;
}

div.wrapper > div.menu > nav > div.menu3 > ul > li {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  height: 100%;
}

div.wrapper > div.menu > nav > div.menu3 > ul > li:nth-of-type(3) {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  height: 100%;
}

div.wrapper > div.menu > nav > div.menu3 > ul > li > a {
  color: rgb(0, 0, 0);
  line-height: 48px;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu {
  width: 1263px;
  height: 500px;
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 82px;
  background-color: white;
  display: none;
  z-index: 300;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li:nth-of-type(1):hover
  > div.smenu {
  display: block;
}
div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu > ul {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div:nth-of-type(1) {
  width: 230px;
  height: 450px;
  display: inline-block;
  vertical-align: top;
  margin-left: 178px;
  margin-top: 28px;
  border-right: 1px solid rgb(0, 0, 0, 0.148);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div:nth-of-type(1)
  > ul {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div:nth-of-type(1)
  > ul
  > li {
  margin-bottom: 4px;
  transition: 200ms;
  padding: 3px 0px 3px 15px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div:nth-of-type(1)
  > ul
  > li
  > a {
  font-size: 16px;
  line-height: 30px;
  color: black;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div:nth-of-type(1)
  > ul
  > li:hover {
  paground-color: rgba(128, 128, 128, 0.326);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div:nth-of-type(2)
  > ul {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div:nth-of-type(2) {
  width: 228px;
  height: 450px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.148);
  transform: translateX(-2.5px);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div:nth-of-type(2)
  > p {
  color: rgb(129, 129, 129);
  font-size: 17px;
  margin-left: 10px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div:nth-of-type(2)
  > ul
  > li {
  transition: 200ms;
}
div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div:nth-of-type(2)
  > ul
  > li:hover {
  background-color: rgba(128, 128, 128, 0.388);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div:nth-of-type(2)
  > ul
  > li
  > a {
  line-height: 25px;
  font-size: 15px;
  padding: 3px 0px 3px 12px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div:nth-of-type(2)
  > ul
  > li:hover
  > a {
  color: rgb(29, 124, 228);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div:nth-of-type(3) {
  display: inline-block;
  vertical-align: top;
  margin-top: 55px;
  margin-left: 10px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div.pic
  > div.pic01 {
  background-color: rgba(123, 123, 123, 0.108);
  display: block;
  padding: 15px 15px 15px 15px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div.pic
  > div.pic01
  > div.img
  > div.text
  > p {
  margin-left: 12px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div.pic
  > div.pic02 {
  background-color: rgba(123, 123, 123, 0.108);
  display: block;
  padding: 15px 15px 15px 15px;
  margin-top: 10px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu
  > div.pic
  > div.pic02
  > div.img1
  > div.text2
  > p {
  margin-left: 27px;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu2 {
  width: 1263px;
  height: 500px;
  background-color: white;
  display: none;
}
div.wrapper > div.menu > nav > div.main-menu > ul > li:hover > div.smenu2 {
  display: block;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu2 > ul {
  width: 100%;
  height: 100%;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu2 > div {
  width: 230px;
  height: 450px;
  display: inline-block;
  vertical-align: top;
  margin-left: 178px;
  margin-top: 28px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(1)
  > ul {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(1)
  > ul
  > li {
  margin-bottom: 4px;
  transition: 500ms;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(1)
  > ul
  > li
  > a {
  padding: 6px 0px 5px 13px;
  line-height: 30px;
  color: black;
}
div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(1)
  > ul
  > li:hover {
  background-color: rgba(128, 128, 128, 0.388);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(2) {
  margin: 0%;
  margin-top: 28px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(2)
  > ul {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(2)
  > p {
  color: rgb(129, 129, 129);
  font-size: 17px;
  margin-left: 10px;
  margin-top: 3px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(2)
  > ul
  > li {
  margin-top: 6px;
  transition: 200ms;
}
div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(2)
  > ul
  > li:nth-of-type(1) {
  padding-left: 26px;
  margin-left: 0px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(2)
  > ul
  > li:hover {
  background-color: rgba(128, 128, 128, 0.388);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(2)
  > ul
  > li:hover
  > a {
  color: rgb(0, 108, 225);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(2)
  > ul
  > li
  > i {
  color: rgb(128, 128, 128);
  padding-left: 10px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(2)
  > ul
  > li
  > a {
  line-height: 30px;
  color: black;
  padding-left: 11px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(3) {
  margin: 0%;
  margin-top: 28px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(3)
  > ul {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(3)
  > p {
  color: rgb(129, 129, 129);
  font-size: 17px;
  margin-left: 10px;
  margin-top: 3px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(3)
  > ul
  > li {
  margin-top: 6px;
  transition: 200ms;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(3)
  > ul
  > li:hover {
  background-color: rgba(128, 128, 128, 0.388);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(3)
  > ul
  > li:hover
  > a {
  color: rgb(0, 108, 225);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(3)
  > ul
  > li
  > i {
  color: rgba(128, 128, 128, 0.694);
  padding-left: 10px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(3)
  > ul
  > li
  > a {
  line-height: 30px;
  color: black;
  padding-left: 11px;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu2 {
  width: 1280px;
  height: 500px;
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 82px;
  z-index: 300;
}
div.wrapper > div.menu > nav > div.main-menu > ul > li:hover > div.smenu2 {
  display: block;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu2 > ul {
  width: 100%;
  height: 100%;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu2 > div {
  width: 230px;
  height: 450px;
  display: inline-block;
  vertical-align: top;
  margin-left: 178px;
  margin-top: 28px;
  border-right: 1px solid rgba(0, 0, 0, 0.148);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(1)
  > ul {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(1)
  > ul
  > li {
  margin-bottom: 4px;
  transition: 200ms;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(1)
  > ul
  > li
  > a {
  padding: 6px 0px 5px 13px;
  line-height: 30px;
  color: black;
}
div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu2
  > div:nth-of-type(1)
  > ul
  > li:hover {
  background-color: rgba(128, 128, 128, 0.388);
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu3 {
  width: 1263px;
  height: 500px;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 82px;
  background-color: white;
  display: none;
  z-index: 300;
}
div.wrapper > div.menu > nav > div.main-menu > ul > li:hover > div.smenu3 {
  display: block;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu3 > ul {
  width: 100%;
  height: 100%;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu3 > div {
  width: 230px;
  height: 450px;
  display: inline-block;
  vertical-align: top;
  margin-left: 178px;
  margin-top: 28px;
}


div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu3 > div:nth-of-type(1) {
border-right: 1px solid rgba(0, 0, 0, 0.148);
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu3 > div:nth-of-type(2) {
  border-right: 1px solid rgba(0, 0, 0, 0.148);
}


div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu3 > div:nth-of-type(3) {
  border-right: 1px solid rgba(0, 0, 0, 0.148);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(1)
  > ul {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(1)
  > ul
  > li {
  margin-bottom: 4px;
  transition: 200ms;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(1)
  > ul
  > li
  > a {
  padding: 6px 0px 5px 13px;
  line-height: 30px;
  color: black;
}
div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(1)
  > ul
  > li:hover {
  background-color: rgba(128, 128, 128, 0.388);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(2) {
  margin: 0%;
  margin-top: 28px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(2)
  > ul {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(2)
  > p {
  color: rgb(129, 129, 129);
  font-size: 17px;
  margin-left: 10px;
  margin-top: 3px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(2)
  > ul
  > li {
  margin-top: 6px;
  transition: 200ms;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(2)
  > ul
  > li:hover {
  background-color: rgba(128, 128, 128, 0.388);
}
div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(2)
  > ul
  > li:hover
  > a {
  color: rgb(0, 108, 225);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(2)
  > ul
  > li
  > i {
  color: rgba(128, 128, 128, 0.694);
  padding-left: 10px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(2)
  > ul
  > li
  > a {
  line-height: 30px;
  color: black;
  padding-left: 11px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(3) {
  margin: 0%;
  margin-top: 28px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(3)
  > ul {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(3)
  > p {
  color: rgb(129, 129, 129);
  font-size: 17px;
  margin-left: 10px;
  margin-top: 3px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(3)
  > ul
  > li {
  margin-top: 5px;
  transition: 200ms;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(3)
  > ul
  > li:hover {
  background-color: rgba(128, 128, 128, 0.388);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(3)
  > ul
  > li:hover
  > a {
  color: rgb(0, 108, 225);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(3)
  > ul
  > li
  > a {
  line-height: 30px;
  color: black;
  padding-left: 11px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div.pic20 {
  width: 170px;
  height: 380px;
  margin-top: 50px;
  margin-left: 12px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div.pic20
  > div.back {
  background-color: rgba(123, 123, 123, 0.108);
  width: 100%;
  height: 180px;
}
div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div.pic20
  > div.back
  > div.photo {
  margin-left: 23px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div.pic20
  > div.back
  > div.photo
  > div.text3
  > p {
  text-align: center;
  margin-right: 20px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div.pic20
  > div.back2 {
  background-color: rgba(123, 123, 123, 0.108);
  width: 100%;
  height: 180px;
  margin-top: 20px;
}
div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div.pic20
  > div.back2
  > div.photo2 {
  margin-left: 20px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div.pic20
  > div.back2
  > div.photo2
  > div.text4
  > p {
  text-align: center;
  margin-right: 14px;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu4 {
  width: 1263px;
  height: 500px;
  position: absolute;
  z-index: 300;
  left: 0;
  top: 82px;
  background-color: white;
  display: none;
}
div.wrapper > div.menu > nav > div.main-menu > ul > li:hover > div.smenu4 {
  display: block;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu4 > ul {
  width: 100%;
  height: 100%;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu4 > div{
  width: 230px;
  height: 450px;
  display: inline-block;
  vertical-align: top;
  margin-left: 178px;
  margin-top: 28px;
}

div.wrapper > div.menu > nav > div.main-menu > ul > li > div.smenu4 > div:nth-of-type(3){

  border-right: 1px solid rgba(0, 0, 0, 0.148);
}







div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(1) {

  margin-top: 28px;
  width: 230px;
  height: 450px;
  display: inline-block;
  vertical-align: top;
  margin-top: 28px;
  border-right: 1px solid rgba(0, 0, 0, 0.148);
}



div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(1)
  > ul {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(1)
  > ul
  > li {
  margin-bottom: 4px;
  transition: 200ms;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(1)
  > ul
  > li
  > a {
  padding: 6px 0px 5px 13px;
  line-height: 30px;
  color: black;
}
div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(1)
  > ul
  > li:hover {
  background-color: rgba(128, 128, 128, 0.388);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(2) {
  margin: 0%;
  margin-top: 28px;
  width: 230px;
  height: 450px;
  display: inline-block;
  vertical-align: top;
  margin-top: 28px;
  border-right: 1px solid rgba(0, 0, 0, 0.148);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu3
  > div:nth-of-type(2)
  > ul {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(2)
  > p {
  color: rgb(129, 129, 129);
  font-size: 17px;
  margin-left: 10px;
  margin-top: 3px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(2)
  > ul
  > li {
  margin-top: 8px;
  transition: 200ms;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(2)
  > ul
  > li:hover {
  background-color: rgba(128, 128, 128, 0.388);
}
div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(2)
  > ul
  > li:hover
  > a {
  color: rgb(0, 108, 225);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(2)
  > ul
  > li
  > a {
  line-height: 30px;
  color: black;
  margin-left: 34px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(3) {
  margin: 0%;
  margin-top: 28px;
  width: 230px;
  height: 450px;
  display: inline-block;
  vertical-align: top;
    margin-top: 28px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(3) {
  margin: 0%;
  margin-top: 28px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(3)
  > ul {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(3)
  > p {
  color: rgb(129, 129, 129);
  font-size: 17px;
  margin-left: 10px;
  margin-top: 3px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(3)
  > ul
  > li {
  margin-top: 5px;
  transition: 200ms;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(3)
  > ul
  > li:hover {
  background-color: rgba(128, 128, 128, 0.388);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(3)
  > ul
  > li:hover
  > a {
  color: rgb(0, 108, 225);
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div:nth-of-type(3)
  > ul
  > li
  > a {
  line-height: 30px;
  color: black;
  padding-left: 11px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div.pic20 {
  width: 170px;
  height: 380px;
  margin-top: 58px;
  margin-left: 12px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div.pic20
  > div.back {
  background-color: rgba(123, 123, 123, 0.108);
  width: 100%;
  height: 180px;
}
div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div.pic20
  > div.back
  > div.photo {
  margin-left: 23px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div.pic20
  > div.back
  > div.photo
  > div.text3
  > p {
  text-align: center;
  margin-right: 12px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div.pic20
  > div.back2 {
  background-color: rgba(123, 123, 123, 0.108);
  width: 100%;
  height: 180px;
  margin-top: 20px;
}
div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div.pic20
  > div.back2
  > div.photo2 {
  margin-left: 20px;
}

div.wrapper
  > div.menu
  > nav
  > div.main-menu
  > ul
  > li
  > div.smenu4
  > div.pic20
  > div.back2
  > div.photo2
  > div.text4
  > p {
  text-align: center;
  margin-right: 14px;
}

div.wrapper > div.learn-more {
  width: 100%;
  height: 48px;
  background-color: rgb(245, 245, 245);
  
}

div.wrapper > div.learn-more > div > p {
  text-align: center;
  padding-top: 13px;
  font-size: 17px;
}

div.wrapper > div.learn-more > div > p > a {
  color: rgb(0, 108, 225);
}

div.wrapper > div.slider1 {
  width: 1263.6px;
  height: 677px;
  position: relative;
  z-index: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

div.wrapper
  > div.slider1
  > div.nobody-oz
  > div.swiper-wrapper
  > div.swiper-slide
  > div.text-slider01
  > p {
  color: rgb(0, 142, 212);
  font-size: 50px;
  position: absolute;
  z-index: 0;
  left: 790px;
  top: 240px;
}

div.wrapper
  > div.slider1
  > div.nobody-oz
  > div.swiper-wrapper
  > div.swiper-slide
  > div.text-slider01
  > p:nth-of-type(2) {
  color: rgb(24, 24, 24);
  font-size: 40px;
  position: absolute;
  z-index: 0;
  left: 765px;
  top: 300px;
}

div.wrapper
  > div.slider1
  > div.nobody-oz
  > div.swiper-wrapper
  > div.swiper-slide
  > div.text-slider01
  > a {
  color: rgb(14, 116, 226);
  font-size: 20px;
  position: absolute;
  z-index: 0;
  left: 1090px;
  top: 370px;
}

div.wrapper
  > div.slider1
  > div.nobody-oz
  > div.swiper-wrapper
  > div.swiper-slide
  > div.text-slider04
  > p {
  color: rgb(0, 0, 0);
  font-size: 50px;
  position: absolute;
  z-index: 0;
  left: 775px;
  top: 260px;
}

div.wrapper
  > div.slider1
  > div.nobody-oz
  > div.swiper-wrapper
  > div.swiper-slide
  > div.text-slider04
  > p:nth-of-type(2) {
  color: rgb(24, 24, 24);
  font-size: 40px;
  position: absolute;
  z-index: 0;
  left: 780px;
  top: 320px;
}

div.wrapper
  > div.slider1
  > div.nobody-oz
  > div.swiper-wrapper
  > div.swiper-slide
  > div.text-slider04
  > a {
  color: rgb(14, 116, 226);
  font-size: 20px;
  position: absolute;
  z-index: 0;
  left: 1055px;
  top: 390px;
}

div.wrapper
  > div.slider1
  > div.nobody-oz
  > div.swiper-wrapper
  > div.swiper-slide
  > div.text-slider01 {
  height: 100%;
}

div.wrapper > div.picture1 {
  width: 1263px;
  height: 777px;
}
div.wrapper > div.picture2 {
  width: 1263px;
  height: 1788px;
}

div.wrapper > div.picture2 > div.picleft {
  width: 610px;
  height: 1788px;
  display: inline-block;
  margin-left: 15px;
}

div.wrapper > div.picture2 > div.picleft > div > img {
  width: 100%;
}

div.wrapper > div.picture2 > div.picleft > div:nth-of-type(1) {
  width: 610px;
  height: 580px;
  margin-bottom: 12px;
  display: inline-block;
  position: relative;
  z-index: 0;
}

div.wrapper
  > div.picture2
  > div.picleft
  > div:nth-of-type(1)
  > p:nth-of-type(1) {
  font-size: 38px;
  color: rgb(4, 88, 107);
  position: absolute;
  z-index: 0;
  top: 49px;
  left: 120px;
}

div.wrapper
  > div.picture2
  > div.picleft
  > div:nth-of-type(1)
  > p:nth-of-type(2) {
  font-size: 18px;
  color: rgb(85, 85, 85);
  position: absolute;
  z-index: 0;
  font-size: 23.7px;
  top: 110px;
  left: 120px;
}

div.wrapper > div.picture2 > div.picleft > div:nth-of-type(1) > a {
  font-size: 18px;
  color: rgb(14, 116, 227);
  position: absolute;
  z-index: 0;
  font-size: 23.7px;
  top: 160px;
  left: 250px;
}

div.wrapper > div.picture2 > div.picleft > div:nth-of-type(2) {
  width: 610px;
  height: 580px;
  margin-bottom: 12px;
  display: inline-block;
}

div.wrapper > div.picture2 > div.picleft > div:nth-of-type(3) {
  width: 610px;
  height: 580px;
  display: inline-block;
  position: relative;
  z-index: 0;
}

div.wrapper
  > div.picture2
  > div.picleft
  > div:nth-of-type(3)
  > p:nth-of-type(1) {
  font-size: 38px;
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 0;
  top: 410px;
  left: 200px;
}

div.wrapper
  > div.picture2
  > div.picleft
  > div:nth-of-type(3)
  > p:nth-of-type(2) {
  font-size: 26px;
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 0;
  top: 470px;
  left: 130px;
}

div.wrapper > div.picture2 > div.picleft > div:nth-of-type(3) > a {
  font-size: 23px;
  color: rgb(35, 121, 216);
  position: absolute;
  z-index: 0;
  top: 515px;
  left: 225px;
}

div.wrapper > div.picture2 > div.picright {
  width: 610px;
  height: 1788px;
  display: inline-block;
  margin-left: 11px;
}

div.wrapper > div.picture2 > div.picright > div > img {
  width: 100%;
}

div.wrapper > div.picture2 > div.picright > div:nth-of-type(1) {
  width: 610px;
  height: 580px;
  margin-bottom: 12px;
  display: inline-block;
  position: relative;
  z-index: 0;
}

div.wrapper
  > div.picture2
  > div.picright
  > div:nth-of-type(1)
  > p:nth-of-type(1) {
  font-size: 38px;
  color: rgb(0, 141, 212);
  top: 49px;
  left: 120px;
  position: absolute;
  z-index: 0;
}

div.wrapper
  > div.picture2
  > div.picright
  > div:nth-of-type(1)
  > p:nth-of-type(2) {
  font-size: 18px;
  color: rgb(200, 200, 200);
  position: absolute;
  z-index: 0;
  font-size: 23.7px;
  top: 110px;
  left: 120px;
}

div.wrapper > div.picture2 > div.picright > div:nth-of-type(1) > a {
  font-size: 18px;
  color: rgb(14, 116, 227);
  position: absolute;
  z-index: 0;
  font-size: 23.7px;
  top: 160px;
  left: 250px;
}

div.wrapper > div.picture2 > div.picright > div:nth-of-type(2) {
  width: 610px;
  height: 580px;
  margin-bottom: 12px;
  display: inline-block;
}

div.wrapper > div.picture2 > div.picright > div:nth-of-type(3) {
  width: 610px;
  height: 580px;
  display: inline-block;
}

div.wrapper > div.event {
  width: 1260px;
  height: 525px;
}

div.wrapper > div.event > p {
  font-size: 44px;
  text-align: center;
}

div.wrapper > div.event > a {
  color: blue;
  margin-left: 600px;
  font-size: 20px;
}

div.wrapper > div.event > div.slider2 {
  width: 100%;
  height: 320px;
  margin-top: 25px;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}


div.wrapper > div.event > div.slider2 >div.mySwiper>div.swiper-wrapper>div.swiper-slide:nth-of-type(1)>div.s1{
  width: 404px;
  height: 252px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}

div.wrapper > div.event > div.slider2 >div.mySwiper>div.swiper-wrapper>div.swiper-slide>div>p{
  background-color: rgb(245, 245, 245);
  padding: 6px 1px 33px;
  text-align: left;
  padding-left: 20px;
  vertical-align: top;
}


div.wrapper > div.event > div.slider2 >div.mySwiper>div.swiper-wrapper>div.swiper-slide:nth-of-type(1)>div.s2{
  width: 404px;
  height: 252px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}



div.wrapper > div.event > div.slider2 >div.mySwiper>div.swiper-wrapper>div.swiper-slide:nth-of-type(1)>div.s3{
  width: 404px;
  height: 252px;
  display: inline-block;
  vertical-align: top;
}



div.wrapper > div.event > div.slider2 >div.mySwiper>div.swiper-wrapper>div.swiper-slide:nth-of-type(2)>div.s1{
  width: 404px;
  height: 252px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  
}

div.wrapper > div.event > div.slider2 >div.mySwiper>div.swiper-wrapper>div.swiper-slide:nth-of-type(2)>div.s2{
  width: 404px;
  height: 252px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}



div.wrapper > div.event > div.slider2 >div.mySwiper>div.swiper-wrapper>div.swiper-slide:nth-of-type(2)>div.s3{
  width: 404px;
  height: 252px;
  display: inline-block;
  vertical-align: top;
}




div.wrapper > div.event > div.slider2 >div.mySwiper>div.swiper-wrapper>div.swiper-slide:nth-of-type(3)>div.s1{
  width: 404px;
  height: 252px;
  background-color: black;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  
}

div.wrapper > div.event > div.slider2 >div.mySwiper>div.swiper-wrapper>div.swiper-slide:nth-of-type(3)>div.s2{
  width: 404px;
  height: 252px;
  background-color: rgb(255, 147, 147);
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}



div.wrapper > div.event > div.slider2 >div.mySwiper>div.swiper-wrapper>div.swiper-slide:nth-of-type(3)>div.s3{
  width: 404px;
  height: 252px;
  background-color: rgb(119, 114, 255);
  display: inline-block;
  vertical-align: top;
}




div.wrapper > div.slider3 {
  width: 1260px;
  height: 410px;
  display: inline-block;
  vertical-align: top;
}

div.wrapper > div.slider3 > div.slider-chahar {
  width: 100%;
  height: 100%;
}

div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(1) {
  width: 635px;
  height: 396.88px;
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(1)>img{
  transition: 800ms;
}


div.wrapper > div.slider3 > div.slider-chahar > div:hover>img{
  transform: scale(1.1);
}

div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(1) > p:nth-of-type(1){
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  font-size: 25px;
  position: absolute;
  z-index: 0;
  top: 320px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 336px;
  padding-bottom: 57px;
  transform: translateY(-25px);

  }

div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(1) > p:nth-of-type(2){
  color: rgb(203, 201, 201) ;
  font-size: 21px;
  position: absolute;
  z-index: 0;
  top: 343px;
  margin-left: 20px;
}




div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(2) {
  width: 620px;
  height: 396.88px;
  display: inline-block;
  vertical-align: top;
}

div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(2) > div {
  width: 300px;
  height: 195px;
  margin: 6px 4px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(2) > div>p:nth-of-type(1){
  position: absolute;
  z-index: 0;
  font-size: 23px;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  padding-bottom: 68px;
  padding-right: 28px;
  padding-left: 20px;
}

div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(2) > div>p:nth-of-type(2){
  position: absolute;
  z-index: 0;
  font-size: 18px;
  color: rgb(203, 201, 201);
  top: 135px;
  margin-left: 20px;
}


div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(2) > div:nth-of-type(2)>p:nth-of-type(1){
  position: absolute;
  z-index: 0;
  font-size: 23px;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  padding-bottom: 68px;
  padding-right: 21px;
  padding-left: 20px;
}

div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(2) > div:nth-of-type(2)>p:nth-of-type(2){
  position: absolute;
  z-index: 0;
  font-size: 18px;
  color: rgb(203, 201, 201);
  top: 135px;
  margin-left: 20px;
}



div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(2) > div:nth-of-type(3)>p:nth-of-type(1){
  position: absolute;
  z-index: 0;
  font-size: 23px;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  padding-bottom: 68px;
  padding-right: 74px;
  padding-left: 20px;
}

div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(2) > div:nth-of-type(3)>p:nth-of-type(2){
  position: absolute;
  z-index: 0;
  font-size: 18px;
  color: rgb(203, 201, 201);
  top: 135px;
  margin-left: 20px;
}


div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(2) > div:nth-of-type(4)>p:nth-of-type(1){
  position: absolute;
  z-index: 0;
  font-size: 23px;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  padding-bottom: 68px;
  padding-right: 35px;
  padding-left: 20px;
}

div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(2) > div:nth-of-type(4)>p:nth-of-type(2){
  position: absolute;
  z-index: 0;
  font-size: 18px;
  color: rgb(203, 201, 201);
  top: 135px;
  margin-left: 20px;
}





div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(2) > div:hover>img{
  transition: 800ms;
}

div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(2) > div:hover>img{

  transform: scale(1.1);

}



div.wrapper
  > div.slider3
  > div.slider-chahar
  > div:nth-of-type(2)
  > div:nth-of-type(1) {
  display: inline-block;
  vertical-align: top;
}

div.wrapper
  > div.slider3
  > div.slider-chahar
  > div:nth-of-type(2)
  > div:nth-of-type(2) {
  display: inline-block;
  vertical-align: top;
}

div.wrapper
  > div.slider3
  > div.slider-chahar
  > div:nth-of-type(2)
  > div:nth-of-type(3) {
  display: inline-block;
  vertical-align: top;
}

div.wrapper
  > div.slider3
  > div.slider-chahar
  > div:nth-of-type(2)
  > div:nth-of-type(4) {
  display: inline-block;
  vertical-align: top;
}

div.wrapper > div.slider3 > div.slider-chahar > div > img {
  width: 100%;
  height: 100%;
}

div.wrapper > div.slider3 > div.slider-chahar > div:nth-of-type(2) > div > img {
  width: 100%;
  height: 100%;
}

div.wrapper > div.footer {
  padding-top: 40px;
  padding-left: 10px;
  background-color: rgb(245, 245, 245);
}
div.wrapper > div.footer > footer > div.shop-and-learn > p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

div.wrapper > div.footer > footer > div.shop-and-learn {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 40px;
}

div.wrapper > div.footer > footer > div.shop-and-learn > div {
  display: inline-block;
  vertical-align: top;
}

div.wrapper > div.footer > footer > div.shop-and-learn > div > div > ul {
  width: 100%;
  height: 100%;
}

div.wrapper > div.footer > footer > div.shop-and-learn > div > div {
  display: inline-block;
}

div.wrapper > div.footer > footer > div.shop-and-learn > div > div > ul > p {
  font-weight: 550;
  margin-bottom: 10px;
}

div.wrapper
  > div.footer
  > footer
  > div.shop-and-learn
  > div
  > div
  > ul
  > li
  > a {
  color: rgb(27, 27, 27);
  display: inline-block;
  margin-bottom: 10px;
}

div.wrapper
  > div.footer
  > footer
  > div.shop-and-learn
  > div
  > div
  > ul
  > li:hover
  > a {
  border-bottom: 1px solid black;
}

div.wrapper
  > div.footer
  > footer
  > div.shop-and-learn
  > div
  > div:nth-of-type(2) {
  margin-left: 40px;
  display: inline-block;
  vertical-align: top;
}

div.wrapper
  > div.footer
  > footer
  > div.shop-and-learn
  > div
  > div:nth-of-type(3) {
  margin-left: 40px;
  display: inline-block;
  vertical-align: top;
}

div.wrapper > div.footer > footer > div.learn-more-footer {
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
}
div.wrapper > div.footer > footer > div.learn-more-footer > p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

div.wrapper > div.footer > footer > div.learn-more-footer > div > ul > li > a {
  color: rgb(27, 27, 27);
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

div.wrapper > div.footer > footer > div.learn-more-footer > div > ul > p {
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 10px;
  color: black;
}

div.wrapper > div.footer > footer > div.learn-more-footer > div {
  display: block;
}
div.wrapper
  > div.footer
  > footer
  > div.learn-more-footer
  > div
  > ul
  > li:hover
  > a {
  border-bottom: 1px solid black;
}

div.wrapper > div.footer > footer > div.support {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 40px;
}

div.wrapper > div.footer > footer > div.support > p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

div.wrapper > div.footer > footer > div.support > div > ul > li > a {
  color: rgb(27, 27, 27);
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

div.wrapper > div.footer > footer > div.support > div > ul > li:hover > a {
  border-bottom: 1px solid black;
}

div.wrapper > div.footer > footer > div.Sustainability {
  width: 188px;
  height: 78px;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 40px;
}

div.wrapper > div.footer > footer > div.Sustainability > p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

div.wrapper > div.footer > footer > div.Sustainability > div > ul > li > a {
  color: rgb(27, 27, 27);
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}
div.wrapper
  > div.footer
  > footer
  > div.Sustainability
  > div
  > ul
  > li:hover
  > a {
  border-bottom: 1px solid black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}



